<a href="https://colab.research.google.com/github/DaraSamii/Numerical-Methods/blob/main/Numerical_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import Latex

# Numerical derivetives

---
##Euler Method

$y_{i+1} = y_i + h.f(x_i, y_i)$

In [ ]:
def Euler(func, h, x0, y0, xf):
    '''
    this functions uses `Euler method` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs,Ys = [],[]
    while xi < xf:
        yi1 = yi + h*func(xi,yi)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

Euler(func,0.1,0,1,1)

    x_i       y_i
0   0.0  1.000000
1   0.1  1.100000
2   0.2  1.220000
3   0.3  1.362000
4   0.4  1.528200
5   0.5  1.721020
6   0.6  1.943122
7   0.7  2.197434
8   0.8  2.487178
9   0.9  2.815895
10  1.0  3.187485

---
## Modified Euler
* $y_{i+1} = y_i+ h.y_i^\prime + \frac{h^2}{2}.y_i''$

* $y_i'' = \frac{y_{i+1}' - y_i'}{h}$

* $y_{i+1} = y_i + h*f(x_i,y_i) $

$\rightarrow y_{i+1} = y_i + \frac{h}{2}[f(x_i,y_i) + f(x_i,y_{i+1})]$

In [ ]:
def ModifiedEuler(func, h, x0, y0, xf):
    '''
    this functions uses `Modified Euler` method to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs,Ys = [],[]
    while xi <= xf:
        yi1 = yi + 0.5*h*(func(xi,yi) + func(xi + h, yi + h*func(xi,yi)))
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

ModifiedEuler(func,0.1,0,1,1)

    x_i       y_i
0   0.0  1.000000
1   0.1  1.110000
2   0.2  1.242050
3   0.3  1.398465
4   0.4  1.581804
5   0.5  1.794894
6   0.6  2.040857
7   0.7  2.323147
8   0.8  2.645578
9   0.9  3.012364
10  1.0  3.428162

---
## Runge-Kutta Second Order

$y_{i+1} = y_i + \frac{1}{2}[k1 + k2]$

$k_1 = h.f(x_i,y_i)$

$k_2 = h.f(x_i + h, y_i + k_1)$

In [ ]:
def RungeKutta2(func, h, x0, y0, xf):
    '''
    this functions uses `Runge-Kutta 2nd order` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs,Ys = [],[]
    K1s,K2s = [],[]
    while xi <= xf:
        
        k1 = h * func(xi,yi)
        k2 = h * func(xi+h, yi + k1)

        yi1 = yi + 0.5*(k1 + k2)

        K1s.append(k1)
        K2s.append(k2)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs,"k1_i":K1s,"K2_i":K2s,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

RungeKutta2(func,0.1,0,1,1)

    x_i      k1_i      K2_i       y_i
0   0.0  0.100000  0.120000  1.000000
1   0.1  0.121000  0.143100  1.110000
2   0.2  0.144205  0.168626  1.242050
3   0.3  0.169847  0.196831  1.398465
4   0.4  0.198180  0.227998  1.581804
5   0.5  0.229489  0.262438  1.794894
6   0.6  0.264086  0.300494  2.040857
7   0.7  0.302315  0.342546  2.323147
8   0.8  0.344558  0.389014  2.645578
9   0.9  0.391236  0.440360  3.012364
10  1.0  0.442816  0.497098  3.428162

---
##Runge-Kutta MidPoint

$y_{i+1} = y_i + h.f(x_i + \frac{h}{2},y_i + \frac{h}{2}.f(x_i, y_i))$

In [ ]:
def RungeKuttaMidPoint(func, h, x0, y0, xf):
    '''
    this functions uses `Runge-Kutta Mid-Point` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)

    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs,Ys = [],[]
    while xi <= xf:
        yi1 = yi + h*func(xi + h/2, yi + 0.5*h*func(xi,yi))
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

RungeKuttaMidPoint(func,0.1,0,1,1)

    x_i       y_i
0   0.0  1.000000
1   0.1  1.110000
2   0.2  1.242050
3   0.3  1.398465
4   0.4  1.581804
5   0.5  1.794894
6   0.6  2.040857
7   0.7  2.323147
8   0.8  2.645578
9   0.9  3.012364
10  1.0  3.428162

---
##Rulston's

$ y_{i+1} = y_i + h.(\frac{1}{3}k_1 + \frac{2}{3}k_2)$

* $k_1 = f(x_i, y_i)$
* $k_2 = f(x_i + \frac{3}{4}h, y_i + \frac{3}{4}.k_1. h) $

In [ ]:
def Rulstons(func, h, x0, y0, xf):
    '''
    this functions uses `Rulstons` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)

    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs,Ys = [],[]
    K1s,K2s = [],[]
    while xi <= xf:
        
        k1 = func(xi,yi)
        k2 = func(xi + 0.75*h, yi + 0.75*k1*h)

        yi1 = yi + h*(k1/3 + 2*k2/3)

        K1s.append(k1)
        K2s.append(k2)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs,"k1_i":K1s,"K2_i":K2s,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

Rulstons(func,0.1,0,1,1)

    x_i      k1_i      K2_i       y_i
0   0.0  1.000000  1.150000  1.000000
1   0.1  1.210000  1.375750  1.110000
2   0.2  1.442050  1.625204  1.242050
3   0.3  1.698465  1.900850  1.398465
4   0.4  1.981804  2.205439  1.581804
5   0.5  2.294894  2.542011  1.794894
6   0.6  2.640857  2.913922  2.040857
7   0.7  3.023147  3.324883  2.323147
8   0.8  3.445578  3.778996  2.645578
9   0.9  3.912364  4.280791  3.012364
10  1.0  4.428162  4.835274  3.428162

---
##Runge-Kutta third order

$y_{i+1} = y_i + \frac{1}{6}(k_1 + 4.k_2 + k_3)$

* $k_1 = h.f(x_i, y_i)$

* $k_2 = h.f(x_i + \frac{h}{2}, y_i + \frac{k_i}{2})$

* $k_3 = h.f(x_i + h, y_i -k_1 + 2.k_2)$

In [ ]:
def RungeKutta3(func, h, x0, y0, xf):
    '''
    this functions uses `Runge-Kutta 3rd Order` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
        
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs, Ys = [],[]
    K1s, K2s, K3s = [], [], []
    while xi <= xf:
        
        k1 = h * func(xi,yi)
        k2 = h * func(xi + h/2, yi + h/2)
        k3 = h * func(xi + h, yi - k1 + 2*k2)

        yi1 = yi + (k1 + 4*k2 + k3)/6

        K1s.append(k1)
        K2s.append(k2)
        K3s.append(k3)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs, "k1_i":K1s, "K2_i":K2s, "K3_i":K3s ,"y_i":Ys})

In [ ]:
def func(x,y):
    return -2*x - y

RungeKutta3(func, h = 0.1, x0 = 0,y0 = -1,xf = 0.3)

   x_i      k1_i      K2_i      K3_i       y_i
0  0.0  0.100000  0.085000  0.073000 -1.000000
1  0.1  0.071450  0.056450  0.047305 -0.914500
2  0.2  0.045707  0.030707  0.024137 -0.857074

--- 

##Nystrom 

$y_{i+1} = y_i + \frac{h}{9}(2k_1 + 3k_2 +4k_3)$

* $k_1 = f(x_i, y_i)$

* $k_2 = f(x_i + \frac{2}{3}h, y_i + \frac{2}{3}k_1 h)$

* $k_3 = f(x_i + \frac{2}{3}h, y_i + \frac{2}{3}k_2 h)$

In [ ]:
def Nystrom(func, h, x0, y0, xf):
    '''
    this functions uses `Nystrom` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
        
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs, Ys = [],[]
    K1s, K2s, K3s = [], [], []
    while xi <= xf:
        
        k1 = func(xi,yi)
        k2 = func(xi + h/2, yi + k1*h/2)
        k3 = func(xi + 0.75*h, yi + 0.75*k2*h)

        yi1 = yi + h*(k1 + 3*k2 + 4*k3)/9

        K1s.append(k1)
        K2s.append(k2)
        K3s.append(k3)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs, "k1_i":K1s, "K2_i":K2s, "K3_i":K3s ,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

Nystrom(func,0.1,0,1,1)

    x_i      k1_i      K2_i      K3_i       y_i
0   0.0  1.000000  1.100000  1.157500  1.000000
1   0.1  1.199222  1.309183  1.372411  1.099222
2   0.2  1.417182  1.538042  1.607536  1.217182
3   0.3  1.655643  1.788425  1.864775  1.355643
4   0.4  1.916532  2.062359  2.146209  1.516532
5   0.5  2.201959  2.362057  2.454113  1.701959
6   0.6  2.514232  2.689944  2.790978  1.914232
7   0.7  2.855877  3.048670  3.159527  2.155877
8   0.8  3.229654  3.441137  3.562740  2.429654
9   0.9  3.638588  3.870517  4.003877  2.738588
10  1.0  4.085984  4.340283  4.486505  3.085984

---
## Mostly Efficient

$y_{i+1} = y_i + \frac{h}{8}(2k_1 + 3k_2 + 3k_3)$

* $k_1 = f(x_i, y_i)$

* $k_2 = f(x_i + \frac{2}{3}h, y_i + \frac{2}{3} k_1 h)$

* $k_3 = f(x_i + \frac{2}{3}h, y_i + \frac{2}{3}k_2 h)$

In [ ]:
def MostlyEfficient(func, h, x0, xf, y0):
    '''
    this functions uses `Mostly Efficient` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
        
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs, Ys = [],[]
    K1s, K2s, K3s = [], [], []
    while xi <= xf:
        
        k1 = h*func(xi,yi)
        k2 = h*func(xi + h*2/3, yi + k1*2/3)
        k3 = h*func(xi + h*2/3, yi + k2*2/3)

        yi1 = yi + (2*k1 + 3*k2 + 3*k3)/8

        K1s.append(k1)
        K2s.append(k2)
        K3s.append(k3)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs, "k1_i":K1s, "K2_i":K2s, "K3_i":K3s ,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

MostlyEfficient(func,0.1,0,1,1)

    x_i      k1_i      K2_i      K3_i       y_i
0   0.0  0.100000  0.113333  0.114222  1.000000
1   0.1  0.121033  0.135769  0.136751  1.110333
2   0.2  0.144279  0.160564  0.161650  1.242787
3   0.3  0.169969  0.187967  0.189166  1.399686
4   0.4  0.198360  0.218251  0.219577  1.583603
5   0.5  0.229738  0.251720  0.253186  1.797379
6   0.6  0.264415  0.288710  0.290329  2.044153
7   0.7  0.302740  0.329589  0.331379  2.327397
8   0.8  0.345094  0.374767  0.376746  2.650945
9   0.9  0.391904  0.424697  0.426883  3.019036
10  1.0  0.443635  0.479878  0.482294  3.436355

---
##Runge-Kutta 4th Order

$y_{i+1} = y_i + \frac{1}{6}(k_1 + 2k_2 + 2k_3 + k_4)$

* $k_1 = hf(x_i,y_i)$

* $k_2 = hf(x_i + \frac{h}{2}, y_i + \frac{k_1}{2})$

* $k_3 = h.f(x_i + \frac{h}{2}, y_i + \frac{k_2}{2})$

* $k_4 = hf(x_i + h, y_i + k_3)$

In [ ]:
def RungeKutta4(func, h, x0, xf, y0):
    '''
    this functions uses `Runge-Kutta 4th order` to compute solve derivetives numericaly

    Parameters:

    * func: function which gets x_i and y_i and returns dy/dx

        >> dy/dx = func(x_i, y_i)
        
    * h: step size of solving algorithm

    * x0: initial value for x

    * y0: solved equetion will return y0 for the given x0

    * xf: final x which algorithm will solve up to it
    '''
    xi = x0
    yi = y0

    Xs, Ys = [],[]
    K1s, K2s, K3s = [], [], []
    while xi <= xf:
        
        k1 = h*func(xi,yi)
        k2 = h*func(xi + h/2, yi + k1/2)
        k3 = h*func(xi + h/2, yi + k2/2)
        k4 = h*func(xi + h, yi + k3)

        yi1 = yi + (k1 + 2*k2 + 2*k3 + k4)/6

        K1s.append(k1)
        K2s.append(k2)
        K3s.append(k3)
        Xs.append(xi)
        Ys.append(yi)

        xi += h
        yi = yi1
    
    return pd.DataFrame({"x_i":Xs, "k1_i":K1s, "K2_i":K2s, "K3_i":K3s ,"y_i":Ys})

In [ ]:
def func(x,y):
    return x+ y

RungeKutta4(func,0.001,0,1,1)

       x_i      k1_i      K2_i      K3_i       y_i
0    0.000  0.001000  0.001001  0.001001  1.000000
1    0.001  0.001002  0.001003  0.001003  1.001001
2    0.002  0.001004  0.001005  0.001005  1.002004
3    0.003  0.001006  0.001007  0.001007  1.003009
4    0.004  0.001008  0.001009  0.001009  1.004016
..     ...       ...       ...       ...       ...
995  0.995  0.004409  0.004412  0.004412  3.414449
996  0.996  0.004415  0.004418  0.004418  3.418861
997  0.997  0.004420  0.004423  0.004423  3.423278
998  0.998  0.004426  0.004428  0.004428  3.427701
999  0.999  0.004431  0.004434  0.004434  3.432130

[1000 rows x 5 columns]

---
---
---
#Root Finding

## Bisection

In [ ]:
def bisection(func, xu, xl,error,max_iter=20):
    '''
    This function uses Bisection method

    * func: the function which we want to find the root of it
    
    >>> y = func(x)
    >>> 0 = func( x=root)

    * xu: lower bound,  xu < xl

    * xl: upper bound, xu < xl

    *error: finishing error condition when result error is less than given erro

    *max_iter: maximum number of iterations

    '''
    
    xui = xu
    xli = xl
    error_i = xli - xui

    l = []
    xr_last = 0
    i = 0
    while error_i > error:
        d = {}

        xr = (xli + xui)/2

        d["xu"] = xui
        d["xl"] = xli
        d["xr"] = xr
        d["f(xu)"] = func(xui)
        d["f(xl)"] = func(xli)
        d["f(xr)"] = func(xr)

        if func(xr)*func(xli) > 0:
            xli = xr
            d["f(xr).(xl)"] = "+"
        else:
            xui = xr
            d["f(xr).(xl)"] = "-"
        

        error_i = abs(xr-xr_last)
        d["error"] = error_i
        xr_last = xr

        if i > max_iter:
            break
        
        l.append(d)
    
    return pd.DataFrame(l)

In [ ]:
def f(x):
    return x - 0.5*np.cos(x)

bisection(f,0,1,0.001)

         xu        xl        xr  ...     f(xr)  f(xr).(xl)     error
0  0.000000  1.000000  0.500000  ...  0.061209           +  0.500000
1  0.000000  0.500000  0.250000  ... -0.234456           -  0.250000
2  0.250000  0.500000  0.375000  ... -0.090254           -  0.125000
3  0.375000  0.500000  0.437500  ... -0.015407           -  0.062500
4  0.437500  0.500000  0.468750  ...  0.022683           +  0.031250
5  0.437500  0.468750  0.453125  ...  0.003583           +  0.015625
6  0.437500  0.453125  0.445312  ... -0.005926           -  0.007812
7  0.445312  0.453125  0.449219  ... -0.001175           -  0.003906
8  0.449219  0.453125  0.451172  ...  0.001203           +  0.001953
9  0.449219  0.451172  0.450195  ...  0.000014           +  0.000977

[10 rows x 8 columns]

---
## False Position

In [ ]:
def FalsePosition(func, xu, xl,error,max_iter=20):
    '''
    This function uses False Position method

    * func: the function which we want to find the root of it
    
    >>> y = func(x)
    >>> 0 = func( x=root)

    * xu: lower bound,  xu < xl

    * xl: upper bound, xu < xl

    *error: finishing error condition when result error is less than given erro

    *max_iter: maximum number of iterations

    '''
    xui = xu
    xli = xl
    error_i = xli - xui

    l = []
    xr_last = 0
    i = 0
    while error_i > error:
        d = {}
        
        xr = xui - (func(xui) / (func(xui) - func(xli))) * (xui-xli)

        d["xu"] = xui
        d["xl"] = xli
        d["xr"] = xr
        d["f(xu)"] = func(xui)
        d["f(xl)"] = func(xli)
        d["f(xr)"] = func(xr)

        if func(xr)*func(xli) > 0:
            xli = xr
            d["f(xr).(xl)"] = "+"
        else:
            xui = xr
            d["f(xr).(xl)"] = "-"
        

        error_i = abs(xr-xr_last)
        d["error"] = error_i
        xr_last = xr
        
        i +=1
        if i > max_iter:
            break

        l.append(d)
    
    return pd.DataFrame(l)

In [ ]:
def f(x):
    return x - 0.5*np.cos(x)

FalsePosition(f,0,1,0.001)

         xu  xl        xr     f(xu)     f(xl)     f(xr) f(xr).(xl)     error
0  0.000000   1  0.406554 -0.500000  0.729849 -0.052690          -  0.406554
1  0.406554   1  0.446512 -0.052690  0.729849 -0.004467          -  0.039958
2  0.446512   1  0.449879 -0.004467  0.729849 -0.000370          -  0.003367
3  0.449879   1  0.450158 -0.000370  0.729849 -0.000031          -  0.000279

---
## Secant

In [ ]:
def secant(func,x0,error,max_iter=20):
    '''
    This function uses Secant method

    * func: the function which we want to find the root of it
    
    >>> y = func(x)
    >>> 0 = func( x=root)

    *x0: initial guess

    *error: finishing error condition when result error is less than given erro

    *max_iter: maximum number of iterations

    '''
    xil = 0.0
    xi = x0
    
    error_i = 10 * error

    l = []
    i = 0
    while error_i > error:
        i += 1
        d = {}
        xi1 = xi - func(xi)*(xi - xil)/(func(xi) - func(xil))
        d["x_i"] = xi
        d["f(x_i)"] = func(xi)

        error_i = abs(xil - xi)
        d["error"] = error_i

        xil = xi
        xi = xi1

        l.append(d)

        if i > max_iter:
            break

    return pd.DataFrame(l)

In [ ]:
def f(x):
    return x - 0.5*np.cos(x)

secant(f,1,0.000001)

        x_i        f(x_i)         error
0  1.000000  7.298488e-01  1.000000e+00
1  0.406554 -5.269046e-02  5.934460e-01
2  0.446512 -4.466993e-03  3.995830e-02
3  0.450214  3.664577e-05  3.701381e-03
4  0.450184 -2.490311e-08  3.011786e-05
5  0.450184 -1.385558e-13  2.045309e-08

---
---
---
#Interpolation

## Lagrange

In [ ]:
def lagrange(Xs,Ys):
    Ls = []
    stylish = []
    for i in range(len(Xs)):
        
        numerator = ''
        denumerator = ''
        for j in range(len(Xs)):
            if i != j:
                numerator += "(x - {})*".format(Xs[j])
                denumerator += "({} - {})*".format(Xs[i],Xs[j])
        
        Ls.append("("+numerator[:-1]+")/("+denumerator[:-1]+")")
        stylish.append(("\\frac{"+numerator[:-1]+"}{"+denumerator[:-1]+"}").replace("*","."))

    
    Lx = ''
    for i in range(len(Ls)):
        Lx += Ls[i] + "*" + str(Ys[i]) + "+"
        display(Latex("L_{}(x) =".format(i) + stylish[i]))
        print("\n")

    Lx = Lx[:-1]
    d = {}
    cmd = "def f(x): return {}".format(Lx)
    exec(cmd,d)

    return d['f']

In [ ]:
f = lagrange([1,2,3],[1,4,9])

In [ ]:
f(2.3)

5.289999999999999

## Newton

In [ ]:
def NewtonInteropoating(Xs,Ys):
    
    Ysi = Ys
    L = []
    for j in range(1,len(Xs)):
        l = []
        for i in range(1,len(Ysi)):
            N = Ysi[i] - Ysi[i-1]
            D = Xs[i+j-1] - Xs[i-1]
            l.append(N/D)
        L.append(l)
        Ysi = l
    
    S = str(Ys[0])
    for i in range(len(Xs)-1):
        S += "+"
        S += str(L[i][0])
        for k in range(i+1,):
            S += "* (x - {})".format(Xs[k])

    LL = [Xs,Ys] + L
    cols = ["X","Y"]+(len(Xs)-1)*["f"]
    df = pd.DataFrame(LL,cols).T

    d = {}
    cmd = "def f(x): return {}".format(S)
    exec(cmd,d)

    return df,d['f']

In [ ]:
df,f = NewtonInteropoating([1,2,3,4],[1,4,9,16])
df

     X     Y    f    f    f
0  1.0   1.0  3.0  1.0  0.0
1  2.0   4.0  5.0  1.0  NaN
2  3.0   9.0  7.0  NaN  NaN
3  4.0  16.0  NaN  NaN  NaN

# Integral

## trapezium method

* single step:
>$I = \int_{x_0}^{x_1} f(x)dx= \frac{h}{2}[f(x_0) + f(x_1)]$

* multiple steps: 
> $I = \int_{x_0}^{x_n} f(x)dx= \frac{h}{2}[f(x_0) + f(x_n) + 2._{i=1}^{n-1}f(x_i)]$

In [ ]:
def trapezium(func, x0, xn, h):
    xi = x0
    I = 0
    while xi < xn:
        I += h * (func(xi) + func(xi+h))/2
        xi += h

    return I

In [ ]:
def func(x):
    return x**2

trapezium(func,0,2,0.01)

2.666700000000004

## Simpson 1/3

$I = \int_{x0}^{x2}f(x)dx = \frac{h}{3}(f(x_0) + 4.f(x_1) + f(x_2))$

In [ ]:
def Simpson13(func, x0, xn, h):
    xi = x0
    I = 0
    while xi < xn:
        I += h * (f(xi) + 4*f(xi +h) + f(xi + 2*h))/3
        xi += 2*h

    return I

In [ ]:
def func(x):
    return x**2

Simpson13(func,0,2,0.01)

2.66666666666667

## Simpson 3/8

$I = \int_{x_0}^{x_3}f(x)dx = \frac{3.h}{8}(f(x_0) + 3.f(x_1) + 3.f(x_2) + f(x_3))$

In [ ]:
def Simpson38(func, x0, xn, h):
    xi = x0
    I = 0
    while xi < xn:
        I += h * 3 * (f(xi) + 3*f(xi +h) + 3*f(xi + 2*h) + f(xi + 3*h))/8
        xi += 3*h

    return I

In [ ]:
def func(x):
    return x**2

Simpson38(func,0,2,0.001)

2.670668666999943